*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
   
}

 .controller{
     max-width: 1200px;
     margin: auto;
 }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}
nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    color: #575757;
}
.common_button{
    background-color: #1D4ED8;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
   border: none;
   cursor: pointer;
}
.banner{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    height: 786px;
    text-align: center;
}
.banner h1{
    color: white;
    font-size: 80px;
     padding: 100px 10px 30px 10px ;
}
span{
    font-style:italic;
}
.banner p{
    color: white;
    font-size: 22px;
    padding: 0 200px 0 200px;
}
.reg_btn_inside_banner{
    width: 282px;
    height: 74px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    margin: 290px 0 40px 0;
}
/* .speaker{
   text-align:center ;
   
} */
.speaker h2{
    margin: 50px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}
.speaker img{
    width: 100%;
}
.speaker_boxes{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    justify-content: center;
    gap:30px;
   
}
.box1,.box2,.box3,.box4{
    border: 2px solid rgb(195, 190, 190);
    border-radius: 10px;
    
}
.speaker h3{
    font-size: 22px;
    font-weight: bold;
}
.sector{
    color: #2563EB;
    font-weight: 600px;
}
.speaker-box-text{
    padding: 18px;
}
.subscription>h2{
     margin: 150px 0 20px 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}#sub-heading{
    font-size: 16px;
    text-align: center;
    margin: 0 0 50px 0;
    color: #575757;
}
.plans{
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
    
}
.plan1,.plan2,.plan3{
     border: 2px solid rgb(195, 190, 190);
    border-radius: 10px;
    padding: 40px;
    

}
.plans ul li::marker{
    color: #1D4ED8;
}
.plans ul li{
    margin: 10px 0;
    font-size: 14;
    color: #333333;
}
.plans button{
    display: block;
    margin: 50px auto 0;
    width: 300px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.plan1 button{
    border: 2px solid #1D4ED8;
    color: #1D4ED8;
}
.catagory{
    font-size: 12px;
    font-weight: 600;
    color: #888888;
}
.person-allowed{
    font-size: 13px;
    color: #888888;
}
.plan2{
    background-color: #0D1B2A;
    color: white;
}
.plan2 ul li{
    color: white;
}
.divider{
    height: 1px;
    width: 100%;
    background-color: #888888;
    margin: 25px 0;
}

/* missing part */
.missing h2{
     margin: 100px 0 20px 0;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
}
.missing p{
    font-size: 16px;
    text-align: center;
    margin: 0 0 40px 0;
    color: #575757;
}
.album{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    

}
.album img{
     width: 100%;
     border-radius: 3px;
     border: 2.5px solid rgb(195, 190, 190);
}

footer{
    margin: 30px 0;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
}
.footer-left{
    display: flex;
    gap: 10px;
}
.footer-links{
    display: flex;
    gap: 25px;
    list-style: none;
}
footer ul li a{
    color: whitesmoke;
    font-size: smaller;
    font-weight: 300;
    text-decoration: none;
}
.icons{
  display: flex;
    justify-content: center;
    gap: 15px;
}
.icons img{
     width: 40px;
     height: 40px;
}