*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
   
}

 .controller{
     max-width: 1551px;
     margin: auto;
 }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1400px; */
}
nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    color: #737373;;
}
.common_button{
    background-color: #1D4ED8;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
   border: none;
   cursor: pointer;
}
.banner{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    height: 786px;
    text-align: center;
}
.banner h1{
    color: white;
    font-size: 80px;

padding: 100px 10px 30px 10px ;
}
span{
    font-style:italic;
}
.banner p{
    color: white;
    font-size: 22px;
    padding: 0 380px 300px;
}
.reg_btn_inside_banner{
    width: 282px;
    height: 74px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
}
/* .speaker{
   text-align:center ;
   
} */
.speaker h2{
    margin: 50px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}
.speaker img{
    width: 100%;
}
.speaker_boxes{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    justify-content: center;
    gap:30px;
   
}
.box1,.box2,.box3,.box4{
    border: 2px solid rgb(195, 190, 190);
    border-radius: 10px;
    
}
.speaker h3{
    font-size: 22px;
    font-weight: bold;
}
.sector{
    color: #2563EB;
    font-weight: bold;
}
.speaker-box-text{
    padding: 18px;
}